@import '../Utils/Index.css';
@import '../Components/Status_Bar.css';
@import '../Components/Bottom-Navbar.css';
@import '../Components/Search-Movie.css';
@import '../Components/Search-bar.css';
@import '../Components/Bottom-cell.css';

.Title {
    font-weight: 700;
    font-size: 25px;
    align-items: center;
    text-align: left;
    margin-top: 21px;
    margin-bottom: 21px;
    margin-left: 10px;
    margin-right: 201px;
}

.Search-Movie {
    padding-top: 21px;
    padding-bottom: 23px;
}
