@import '../Utils/Index.css';
@import '../Components/Status_Bar.css';
@import '../Components/Bottom-Navbar.css';
@import '../Components/Search-Movie.css';
@import '../Components/Search-bar.css';

.Title {
    font-weight: 700;
    font-size: 25px;
    align-items: center;
    text-align: left;
    margin-top: 21px;
    margin-bottom: 21px;
    margin-left: 10px;
    margin-right: 201px;
}

.Search-Movie {
    padding-top: 21px;
    padding-bottom: 23px;
}

.Bottom-Navbar__background {
    margin-top: 23px;
    margin-bottom: 4px;
}

.Bottom__cell {
    margin-top: 18px;
    margin-bottom: 10px;
    margin-left: 126px;
    margin-right: 126px;
}
