.Main {
    display: flex;
    width: 90%;
    align-items: center;
    text-align: center;

}

.Main__img {
    margin-top: 13px;
    margin-bottom: 18px;
    margin-left: 15px;
}

.Main__Title {
    font-size: 17px;
    font-weight: 700;
    line-height: 13px;
    text-align: center;
    margin-left: 7px;
    margin-bottom: 5px;
}