.Play {
    width: 75%;
    margin: 0 auto;
}

.Play__Top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Play__Title {
    margin-left: 5px;
    font-weight: 700;
    font-size: 13 px;
}

.Play__Bottom {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}