.Profile {    
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
    padding-top: 90px;
}

.Profile__Img {
    width: 65px;
    height: 60px;
    margin-top: 15px;
    text-align: center;
}

.Profile__Img:hover {
    transform: scale(1.2);
}

.Profile__Text {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
}