.search-input {
    display: flex;
    align-items: center;
    padding: 18px 0;
    width: 90%;
    margin: 0 auto;
}
.search-input__background {
    background-color: #424242;
}

.search-input__img {
    width: 20px;
}

.search-input__input {
    border: none;
    background: none;
    width: 255px;
    outline: none;
    color: white;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 34px;
}

.search-input__input::placeholder {
    color: #c4c4c4;
}