
body {
    background-color: black;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
}

p,
h1,
h2,
h3,
h4,
span,
strong {
    color: white;
    font-family: 'robot', Arial, Helvetica, sans-serif;
}